export SPARK_MASTER_IP=0.0.0.0
export SPARK_MASTER_PORT=7077
#export SPARK_MASTER_OPTS=
export SPARK_WORKER_CORES=1
export SPARK_WORKER_MEMORY=256m
#export SPARK_WORKER_PORT / SPARK_WORKER_WEBUI_PORT, to use non-default ports for the worker
export SPARK_WORKER_INSTANCES=2
#export SPARK_WORKER_DIR, to set the working directory of worker processes
#export SPARK_WORKER_OPTS, to set config properties only for the worker (e.g. "-Dx=y")
#export SPARK_HISTORY_OPTS, to set config properties only for the history server (e.g. "-Dx=y")
#export SPARK_DAEMON_JAVA_OPTS, to set config properties for all daemons (e.g. "-Dx=y")
#export SPARK_PUBLIC_DNS, to set the public dns name of the master or workers
# export HADOOP_CONF_DIR, to point Spark towards Hadoop configuration files
export SPARK_LOCAL_IP=0.0.0.0
#export SPARK_PUBLIC_DNS, to set the public dns name of the driver program
#export SPARK_CLASSPATH, default classpath entries to append